@import "Col";
@import "SelectedNumbers";

.fa-star {
  margin: 0.5em;
}

span {
  display: inline-block;
  margin: 0.5em;
  background-color: #ccc;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.row {
  margin-bottom: 2.5em;
}
